---
title: Minimum Documentation form
---

<b>Drachenwald A&amp;S Criteria </b><br />
A&amp;S Minimum Documentation forms                                                                                       (Revised 11/00)</p>
<p>Modern Name: ________________________________________________</p>
<p>SCA Name: ________________________________________________</p>
<p>NAME (type) of item:</p>
<p>Country of Origin:</p>
<p>Period of origin:</p>
<p>Characteristics of style for that period:</p>
<p>References:</p>
<p> Cut these apart and use these sheets for those entries that have no other documentation. </p>
<hr />
<br /><br />
<p>Modern Name: ________________________________________________</p>
<p>SCA Name: ________________________________________________</p>
<p>NAME (type) of item:</p>
<p>Country of Origin:</p>
<p>Period of origin:</p>
<p>Characteristics of style for that period:</p>
<p>References:</p>