---
title: Armor Judging Criteria
subtitle: (Revised 11/00)
---
<p>Entry consists of one or more pieces to be worn singularly or as a set (Ex. a helm. a gambeson, a pair of knee cops). A pair (gauntlets, legs, etc.) counts as one piece. Sets may use any combination of styles and materials, but coordinated or matched sets will earn higher scores. Entrant should specify whether armor was made primarily for combat (for use in SCA fighting) or Dress (for ceremonial or non-combat wear.) Combat armor will hold a competitive advantage in Workmanship; Dress armor will hold an advantage in Authenticity; highest scores will go to sets that succeed at both levels. Combat armor must pass SCA marshallate standards or require only very minor modification; entrant should note what modification is necessary, if any.</p>
<p>DOCUMENTATION(3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with at least some of the following: Identification / description / use of the entry. Date and place/country of origin entry is modeled on. Reference/bibliography<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process, especially noting modifications made specifically to meet safety requirements.<br />
• Research (country, period of origin, typical characteristics, etc.) Sources should be as close as possible to the original. The Armorer and His Craft is good, Armor from the Battle of Wisby is better, working from actual pieces is best.<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE] Common authentic materials include metal, leather, cloth, horn. Modern substitutes may be used; judge these for appropriateness (Ex. mild steel for wrought iron is better than aluminum or stainless steel.) Kydex or other plastics may substitute for leather or horn, but will not score highly. Obviously inauthentic materials include undisguised plastics, foam rubber, plastic foam. synthetic fabrics, plastic based paints in obviously modern colors (or other obviously modern decorative treatments), plastic clothesline cord, etc. Obviously inauthentic processes include gas or arc welding, spot welded mail, etc. Safety considerations may require some substitutions in processes or materials (Ex. a modern metalwork technique instead of dangerous period one, or modifications of period design to conform to marshallate standards); these in themselves will not count against Authenticity IF entrant explains safety considerations and provides a suitable rationale for the alternate methods/materials chosen. However, substitutions or modifications made without any effort to preserve authentic appearance will count against Authenticity.<br />
• 0: Obviously not authentic. Blatantly modern in materials, design, and construction<br />
• 1: Bears some resemblance to a period piece.<br />
• 2: Bears some elements of period piece<br />
• 3: Generally period, with some obviously modern elements present (Ex. aluminum, foam rubber padding, non decorative motifs) OR obvious mixture of elements from different cultures or periods within or among individual pieces in the set entered.<br />
• 4: Good attempt. Follows general outline of period piece<br />
• 5: Overall period style and execution, with minor inconsistencies (Ex. some obviously purchased hardware, modern shortcuts in process that don't quite approximate period results.<br />
• 6: Close, but obviously modern<br />
• 7: Piece is close to period practice, but lacks detail<br />
• 8: Period design/ execution with no inconsistencies; period materials or close equivalents; pieces in set are of the same period and would be worn together; processes used produce results equivalent to those produced in period.<br />
• 9: Detailed reproduction of period piece<br />
• 10: Special effort to achieve a completely period product by use of period primary/secondary materials, design, tools, techniques, decoration, etc. NOTE: Dress armor is far more likely to achieve this level than is Combat armor, which is handicapped by marshallate requirements. Other parts of the criteria balance out this advantage.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Difficulty and variety of shape of pieces<br />
• Fit between multiple pieces<br />
• Use of complex curves and fluting<br />
• Decoration, etching, etc. as is appropriate to era<br />
• Scope of endeavor (number of pieces, size relative to detail, etc.)<br />
• Extent of original work or modifications in design, patterns, etc.<br />
• Difficulty and variety of materials used<br />
• Variety of techniques attempted (consider material preparation, construction, finishing, decoration, etc.)<br />
• Difficulty of techniques attempted</p>
<p>WORKMANSHIP (3-30 points. Scored 1-10 then multiplied by 3) Rank the success (skill of execution) of the entry based on the following:. The quality of work done on the piece; i.e. for plate, are surfaces smooth? for mail, are pieces even? For non-metal, are seams strong and even? Medieval armor was often crudely finished inside, and this should not deduct unless it creates a possibility of danger.<br />
• Design. Do plans/patterns make sense? Are parts combined properly? Do parts balance? Are proportions good? How well do pieces work together as a set? Special consideration such as personalized decoration?<br />
• Material use. Consider choice, preparation, and handling. Are materials proper quality, thickness, strength? (Ex. low scores for brass hinges on stress spots, cloth that won't hold rivets/grommets; weak quilting threads, etc.) Are they pre-treated and protected as needed? Are they appropriate to each other?<br />
• Construction techniques. Are rivets correct tightness? Is dishing even? Are seams and quilting strong? Does articulation work? Are mail rings butted closely or (better) welded or riveted? Are parts properly assembled? Is it as detailed as an original?<br />
• Finishing and decorative techniques. Are metal edges turned? Are cloth edges bound? Are lacing holes smoothed (or will they cut the laces)? Consider also polish, ornamentation, design and execution of decorative motifs.<br />
• Mastery of period style and technique. Note: an entrant who has made modifications or substitutions for practical reasons can still demonstrate an understanding of period practice by what alternative processes he chooses (Ex. maintaining a period stylistic appearance while adding unobtrusive safety features).<br />
• Function. Will pieces protect the wearer? Will they hold up in battle and for how long? Will they allow sufficient comfort and freedom of movement? If pieces make no entry to pass marshallate standards (i.e. dress armor) score 2.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>
<p>When function is important, workmanship and quality are hard to separate. However, some things go beyond workmanship: beauty, weight, feel and personality. Things to consider are:<br />
• Fit, functionality, and strength of construction<br />
• Harmony of materials and shape, weight<br />
• Design, finish, articulation, details<br />
• Compatibility purpose of work</p>