---
title: Eastern Dance Perfomance Judging Criteria
---
<p>Individual or group entries.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design, i.e. the relationship between various elements (steps, music, costume, etc.); as well as context in which dance would be performed; explanation of any theme.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Entire dance is blatantly out of period (Ex: high heels or cabaret costume; bared midriff except in distinctly Indian dances; seduction).<br />
• 1: Modern music; may have period feel, but uses modern instruments. Modern steps, but with period feel.<br />
• 2: Generally period style, but with some obviously out-of-period elements (Ex: extensive veilwork-unless Indian; costuming inaccuracies; obviously modern music on tape); OR obvious mixture of styles from different cultures/periods.<br />
• 3: Authentic music (regardless of instruments) with "inauthentic" steps or authentic steps with "inauthentic" music.<br />
• 4-5: Period performance with minor inconsistencies.<br />
• 6: Completely period performance: period movements, adequate costume, appropriate accompaniment (Ex: folkloric tape with proper instrumentation), consistency of performance to music and music style.<br />
• 7-8: Steps and music, both authentic and appropriate to each other. Allow for inappropriate ornamentation (Ex. hand placement, style of reverence...)<br />
• 9-10: #3 plus special effort to create completely period impression: Ex: live music, use of authentic prop(s) from indicated culture as appropriate, development of traditional period theme with trappings, etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Variety and difficulty of steps and sequences (of steps)<br />
• Difficulty and variety of upper body gestures and movement<br />
• Difficulty and variety of self-accompaniment and/or prop use<br />
• Difficulty of theme/narrative/mood<br />
• Scope of endeavor (length of dance, etc.)</p>
<p>PERFORMANCE <B>replaces</b> "WORKMANSHIP" on the score sheet. (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution (performance) and success of the entry on a scale of 1-10 based on the following:<br />
• Grace, precision, accuracy<br />
• Timing, smoothness, transitions<br />
• Use of space<br />
• Isolation movements (only the parts that should move, do)<br />
• Showmanship, audience awareness, expression of theme or mood<br />
• [Consider the following only if applicable] use of self-accompaniment, props, veils, etc.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>