---
title: Free Form Embroidery Judging Criteria
---

Includes non-counted styles. Approved SCA heraldic devices will be considered period if heraldry was used in the period of the entry.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work.. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project and use(s) of the entry<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.)<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE] Consider item, thread, ground, stitches, colors.<br />
• 0: Non-period item such as blue jeans, tea cozy, backpack;<br />
• 1: Blatant modernity such as machine embroidery or blatantly modern materials.<br />
• 2: Generally period but with obvious non-period elements: e.g. an SCA-specific piece (ribbon favor, etc.), questionable design, stitches, etc.;<br />
• 3-4 Obvious mixture of elements from different periods or cultures.<br />
• 5-6: Overall period effect with minor inconsistencies; materials are period (linen, silk, wool) or reasonable equivalent.<br />
• 7-8: Period piece; no inconsistencies.<br />
• 9-10: Special effort to achieve completely period effect by using period design, materials, tools, techniques, etc.; elements consistent to each other.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulty of motifs (e.g. geometric pattern is easier than human figure)<br />
• Design (how are motifs combined)<br />
• Difficulty of materials used (e.g. velvet, metallics, etc. are harder)<br />
• Difficulty of stitches and techniques (e.g. needlepoint - very easy, cross-stitch- easy, cut-and-drawn or intricate blackwork filler - hard)<br />
• Difficulty of and attempted variety of elements/motifs/stitches/techniques<br />
• Charting (if prepared chart was used unchanged then lower)<br />
• Scope of project (size in relation to detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Evenness (especially on geometric designs)<br />
• Neatness<br />
• Starts and ends and tension<br />
• Embellishments for personal use or personalizing touches and/or symbolism<br />
• Uniformity (in density, stitch length, etc.)<br />
• Finishing of piece (hemming, applique, etc.)</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>