---
title: Games, Toys and Dolls Judging Criteria
---

This category includes items used for game-playing and entertaining past-times, both for adults and children.<br />
<B>NOTE: Judges may wish to consult additional criteria for references to specific materials used, if appropriate, such as Woodwork, Metalwork, Pottery &amp; Ceramics, Embroidery, etc.</b></p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.)<br />
• Artistic design citing rationale for design elements</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0:Out of period; blatantly modern<br />
• 1:Totally inappropriate to time period<br />
• 2:Some period elements &amp; apparent knowledge of period techniques<br />
• 3:Generally period with some obvious modern elements present OR obvious mixture of elements from different cultures or periods (Ex. late-period media used for an exclusively early-period object, combination of motifs from unconnected cultures or periods, etc.)<br />
• 4:Approximates period work, but has obvious flaws &amp;/or inconsistencies<br />
• 5-6: Overall period design and execution with minor inconsistencies. Sound knowledge of period practice evident.<br />
• 7-8: Good period effect, minor flaws only, deviations from period clearly explained<br />
• 8:Period design and execution with no inconsistencies; period materials or reasonable equivalents.<br />
• 9-10:A completely period product by use of period design, materials, tools, techniques, etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Number &amp; complexity of pattern pieces or design elements used<br />
• Difficulty of materials and handling involved in project or decoration<br />
• Amount of time involved, including research, material preparation<br />
• Number of steps, kinds of tools used, amount of guidance<br />
• Number of elements (even if repetitions of same thing)<br />
• Variety of elements (how many different things, actions)<br />
• Scope of project (size) and number, duration and difficulty of steps and techniques<br />
• Difficulty and variety of media, materials, tools used.<br />
• Difficulty and variety of techniques tried (skills used to complete project).<br />
• Difficulty and variety of design strategies applied (Ex. kit is minimal; kit embellishment more advanced; designing original procedures is best).</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Effective use of materials, designs &amp; tools<br />
• Attention to details, neatness, finishing touches<br />
• Appropriate application of design(s), proportions<br />
• Ability of entry to serve intended function. Does it do what it should do and look as it should look?<br />
• Mastery of period style and technique.<br />
• Techniques: neatness, precision, choice and handling of materials, etc.<br />
• Form/design: balance, aesthetics, motifs, proportion, etc.<br />
• Achievement of period style and technique.<br />
Note: Additional points may be awarded for the creation of an original game (new game/new rules) in a period style.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>