---
title: Heraldic Display Judging Criteria
---

An entry consists of anything which is used to display armory. Possible pieces include banners, flags, tabards, heraldic clothing, furniture, feast gear, tapestries, etc. The documentation should include information on the source of the armory (historic or SCA). <B>NOTE: The armory, in itself, is NOT judged. The use of the armory is what is being judged.</b></p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, period use of item, etc.), visual or descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• Entry is appropriate to time/place stated in documentation.<br />
• Materials used are period OR give period effect.<br />
• Methods/Procedures used are period OR give period effect.<br />
• Style, pattern, design and finished product are consistent with one another and give period effect.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Complexity of the design of the entry.<br />
• Complexity of the medium(s) being worked in (difficulties of materials used).<br />
• Layout and overall composition.<br />
• Intricacy of creating design in size/scale utilized in the entry. (Remember that all sizes are difficult because in small scale it is difficult to get details and in large scale, any minor flaw shows noticeably.)<br />
• Number and/or variety of heraldic elements and/or pieces in the project.<br />
• Difficulty and/or variety of techniques involved in the project.<br />
• Amount of time involved including research and material preparation.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Choice and effective use of materials/design combinations.<br />
• Attention to details, neatness and finishing touches.<br />
• Appropriate application of design(s).<br />
• Ability of entry to serve intended function.<br />
• Mastery of period style and practice.<br />
• Durability of the item.<br />
• Special touches embellishments or personalization</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>