---
title: Leatherwork Judging Criteria
---

Includes the construction of completed objects primarily from leather, with or without decoration; or the construction of leather items, with or without decoration, for use in specific non-leather project (Ex. hinges and handle for a wood box). If entrant did only decorative work, he must note that, and only that part will be judged. Leather preparation (Ex. tanning, dying, parchment making) will be judged only as part of a completed project. Prepared leather itself may be entered in MATERIAL PREPARATION.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, use in period, etc.) .), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design, appropriateness of specific elements to purpose</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• Materials and supplies are period or give period effect<br />
• Entry is appropriate to stated time or place<br />
• Style, pattern(s), design and finished entry are consistent with one another and seem period.<br />
• Period tools and procedures were used as much as possible; use of modern substitutes is noted and attempts to attain period effect are explained.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Number and complexity of pattern pieces and designs used<br />
• Difficulty of materials handling involved in a project;<br />
• Scale of project - amount of detail related to size, use of original patterns for construction or decoration;<br />
• Amount of time involved, including research, material preparation<br />
• Number of steps, kinds of tools used, amount of guidance.<br />
• Pattern use<br />
• Pattern modification<br />
• Research of pattern<br />
• Individual participation in pattern research</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Effective use of materials and tools<br />
• Attention to details, neatness, finishing touches<br />
• Appropriate application of designs, proportions<br />
• Mastery of period style and practice<br />
• Choice of material and handling techniques<br />
• Execution of techniques (construction, decoration, etc.): neatness, finishing, etc.<br />
• Form/design: aesthetics, pattern development, decorative motifs, etc.<br />
• Function/durability: Does it do what it should? Will it hold up in use?</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>