---
title: Painting Judging Criteria
---

This category includes miniature portraits, panel and canvas paintings.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design, reasons for choice of subject and rationale for design.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0:Blatantly modern design and materials.<br />
• 1-2: Uses some period materials and design.<br />
• 3-4: Style of rendering and layout generally period, but with a few obviously non-period elements<br />
• 5-6: Overall period style and design; materials period or reasonable equivalent; minor inconsistencies in layout or execution.<br />
• 7-8: Same as #6, with no inconsistencies; subject matter appropriate to period and medium.<br />
• 9-10: Same as #8, with special effort to create completely period effect by using period materials, techniques, layout, etc.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulty and variety of tools used<br />
• Difficulty and variety of techniques attempted (layering, gesso, etc.)<br />
• Difficulty of materials used (consider type of paint, ground, gilding, tools, etc.)<br />
• Number and variety of composition elements (layout, proportion, balance, perspective, color, etc.)<br />
• Number and variety of design elements (figures, portraits, animals, landscape, architecture, etc.)<br />
• Use of shading or perspective<br />
• Overall composition and layout<br />
• Scale and scope - amount of detail related to size of entry and number of subjects</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Effective use and control of media (i.e. paint, ground preparation, etc.)<br />
• Design quality of composition<br />
• Accuracy of rendering in relation of style of stated period<br />
• Draftsmanship and effective use of tools<br />
• Mastery of period style and technique<br />
• Personalization and/or special embellishment</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>