---
title: Weaponry Judging Criteria
---

Weapons used for individual combat in period, metal or non-metal, including swords, knives, spears, polearms, pikes, axes, maces, quarterstaves, longbows and arrows, crossbows and bolts, slings, etc. SCA combat weaponry is not acceptable. No firearms, mines or bombs. No siege engines, earthworks, or similar troop offensive/defensive constructions. <B>NOTE: Use of period mercury-gilding or similarly hazardous period techniques will disqualify an entry. Substitution of equivalent modern processes with appropriate safeguards, noted as such in the documentation. shall not be penalized in scoring.</b></p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of weapon, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design, specific design or material aspects based on intended use.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0:Blatantly modern in materials, design, construction, or embellishment.<br />
• 1-2: Generally period, with some obviously modern elements (e.g. stainless steel, not-quite-period decorative motifs, questionable blade shape, etc.)<br />
• 3-4: Obvious mix of elements from different cultures or periods (e.g. an epee decorated with early Norse motifs).<br />
• 5-6: Overall period style and execution, with minor inconsistencies (e.g. some obviously purchased hardware, modern shortcuts in process that don't quite approximate period results, etc.).<br />
• 7-8: Period design and execution with no inconsistencies; period materials or reasonable equivalents; processes used produce results equivalent to those produced in period.<br />
• 9-10: Special effort to achieve a completely period product in design, materials, decoration, techniques, etc. e.g.: Hand-forged blade, handmade hardware, handmade bowstring and hand-fletched arrows, etc. Entrant provides accessory items as appropriate (scabbard, quiver, blade cover, etc.).</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Degree of original work in design (1 for "kit" knives, etc.)<br />
• Variety and difficulty of materials used<br />
• Variety and difficulty of construction techniques attempted (forging, welding, finishing, woodwork, fittings, fletching, etc.)<br />
• Variety and difficulty of embellishment and decorative techniques attempted (blade engraving, etching, inlaying, carving, jewelling, etc.)<br />
• Scope of endeavor: consider number of pieces, size of work relative to amount of detail.</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following. Judges may wish to consult such criteria as Metalwork, Leatherwork, and Woodwork for detail on techniques.<br />
• Mastery of period style and technique. Note: Entrant who has made modifications or substitutions for economic or safety reasons can still demonstrate understanding of period practice by his choice of alternate processes/materials.<br />
• Material use. Consider choice, preparation, and handling. Are materials proper strength and quality? Are they appropriate to each other and to the project?<br />
• Construction techniques. Do parts fit properly, were processes applied correctly with proper results, are blade edges and ridges even, etc.<br />
• Finishing and decorative techniques. Are edges smoothed, blades sharpened, surfaces finished, embellishment well-placed and well-done?<br />
• Function. Is weapon strong enough for intended combat use? Are swords, knives, etc. balanced? Will arrows fly? Does the weapon fit comfortably and securely in the hand?<br />
• Special consideration such as personalized decoration, embellishment, etc.</p>