---
title: Woodwork Judging Criteria
---

Includes the construction and/or decoration of objects made primarily from wood. Objects must be in completed, final form. Wooden scientific or musical instruments should be entered in the Scientific Instruments and Musical Instruments categories. Carved pieces (chest top, walking staff, etc.) may be cross-entered in Sculpture. Panel paintings should be entered in Painting; wood panel preparation should be entered in Material Preparation.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE] Some obvious unauthentic examples: plastic varnish, spray or brush lacquers, most wood screws. Inauthentic but passable: wire nails. Period finishes: raw wood, oiled wood, wax, oil/resin varnish, polychrome, Oriental lacquer; gesso with metal foil, oil paint, or egg tempera. Also period: forged nails, clinched rivets, wooden pegs, glued joints, very large dovetails. Give score based on the following:<br />
• 0-1: Blatantly modern in some respect: e.g. intended use, materials, motifs, etc.<br />
• 2-3: Project fits the context of period, but an adequate understanding of the item being created is missing.<br />
• 4-5: Generally period item, with some obviously modern elements present (e.g. commercial finish, wood screws) OR obvious mixture of elements from different cultures or periods.<br />
• 6-7: Overall period style and execution, with few/minor inconsistencies like modern tools/power equipment.<br />
• 8-9: Period-looking piece with no inconsistencies (materials and finishes are period or reasonable equivalents; wood and design appropriate to intended use of item)<br />
• 10: Special effort to achieve a completely period product by use of period design, materials, tools, and techniques (e.g. entrant cut wood off tree, seasoned it, made tools, pegs and finishes, then built and carved chest).</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Difficulty and variety of materials and tools used<br />
• Difficulty and variety of construction techniques used<br />
• Difficulty and variety of decorative techniques used<br />
• Construction pattern and/or decorative design<br />
• Finishing techniques used<br />
• Scope of endeavor (size of work relative to amount of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale of 1-10 based on the following: (NOTE: it is period, and acceptable, for unseen surfaces to be rough.)<br />
• Mastery of period style and practice<br />
• Choice and handling of wood: appropriateness to use, neatness (no sanding scratches, cut with uniformly sharp tools), grain use (narrow pieces cut with grain longways, carving respects grain, avoids joining cross- and long-grain), consistency of handling (edges and corners all sharp or all chamfered, joint angles consistent), etc.<br />
• Choice and handling of supplemental materials: finishes, glues, fasteners, etc.<br />
• Form/design: aesthetics, pattern development, decorative motifs, etc.<br />
• Function/durability: does it do what it should? drawers fit? joints tight? matched pieces match? will it hold up in use?</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>